body {
    margin: 0;
    padding: 0;
    font-family: italic;
    color: black (25, 200, 209);
}

.cover {
    width: 618px;
    height: 889px;
    margin: 20px auto;
    background-image: url('Screenshot\ 2025-12-11\ 204303.png');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 20px;
    border: 5px solid rgb(4, 130, 213)
}

.border {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(227, 13, 120);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
}

.content {
    font-size: 18px;
    font-weight: light;
    color: light black;
    margin-top: 10px;
    font-size: 22px;
    font-family:Georgia;
}

b{
    background-color: yellow;
    font-weight: bold;
    
}

.quote {
    text-align: center;
    font-family: italic;
    background-color: rgb(4, 130, 213);
    border-left: 5px solid red;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
 }

.author img{
    height: 120px;
    width: 100px;
    display: flex;
    padding: 10px;
}

.author{
    display: flex;
    background-color: rgb(4, 130, 213);
}

.author{
    margin-left: 20px;
}

.ending{
    background-color: white;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: rgb(4, 130, 213);
}

.ending h4{
    color: black;
}

.under{
    margin-left: 20px;
}

.price{
    color: red;
    font-size: 20px;
    margin-right: 20px;
}

